.wraper {
    display: flex;
    justify-content: center;
    padding-top: 6rem;

    .counters {
        display: flex;
        justify-content: space-between;
        width: 38vw;

        .tasksCounter {
            color: var(--blue);
        }

        .taskDoneCounter {
            color: var(--purple);
        }

        .counterNumber {
            background: var(--gray-400);
            color: var(--gray-200);
            border-radius: 8px;
            height: 1.188;
            width: 1.563rem;
        }

        .tasks {
            display: block;
            padding-top: 5rem;
            background: blue;
            height: 30px;
            width: 20px;
        }
    }
}
