.wraper {
    display: flex;
    justify-content: center;
    padding-top: 6rem;

    .counters {
        display: flex;
        justify-content: space-between;
        width: 38vw;

        .tasksCounter {
            color: var(--blue);
        }

        .taskDoneCounter {
            color: var(--purple);
        }

        h3 {
            display: flex;
            
            .counterNumber {
                background: var(--gray-400);
                color: var(--gray-200);
                border-radius: 800px;
                height: 1.188;
                width: 1.563;
                text-align: center;
                margin-left: 1vw;
                padding-right: 0.70vw;
                padding-left: 0.70vw;
            }
        }

        .tasks {
            display: block;
            padding-top: 5rem;
            background: blue;
            height: 30px;
            width: 20px;
        }
    }
}

@media (max-width: 860px)  {
    .counters {
        flex-direction: column;
    }

    .taskDoneCounter {
        padding-top: 2rem;
        display: flex;
        justify-content: center;
    }

    .tasksCounter {
        display: flex;
        justify-content: center;
    }
}
