.wraper {
    display: flex;
    justify-content: center;
    padding-top: 4rem;

    .counters {
        display: flex;
        justify-content: space-between;
        width: 48vh;

        .tasksCounter {
            color: var(--blue);
        }

        .taskDoneCounter {
            color: var(--purple);
        }

        .counterNumber {
            background: var(--gray-400);
            color: var(--gray-200);
            border-radius: 8px;
            height: 1.188;
            width: 1.563rem;
        }
    }
}
